<h1 mat-dialog-title>{{actionTitle}}</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Nome do Produto</mat-label>
            <input formControlName="productName" matInput placeholder="Enter Product Name:">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Categoria do Produto</mat-label>
            <mat-select formControlName="category" placeholder="Categorias">
                <mat-option value="Frutas">Frutas</mat-option>
                <mat-option value="Vegetais">Vegetais</mat-option>
                <mat-option value="Eletrônicos">Eletrônicos</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <label for="">
            <h1>Estado do Produto</h1>
        </label>
        <mat-radio-group formControlName="freshness" class="example-radio-group">
            <mat-radio-button *ngFor="let fresh of freshnessList" [value]="fresh" class="example-radio-button">
                {{fresh}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
            <mat-label>Preço</mat-label>
            <input formControlName="price" matInput type="number" placeholder="Enter Product Price:">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Comentário</mat-label>
            <textarea formControlName="comment" matInput></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Fechar</button> 
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>
